
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* share style */

.secondary_bg {
background-color: #FFF8F3;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.banner_content {
  max-width: 580px;
}

.text_primary {
  color: #FD6E0A;
}

/* header */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.section_title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section_description {
  font-size: 18;
  color: #757575;
}

.text_center {
  text-align: center;
}

/* nav style */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav_title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
}

.dark_2 {
  color: #474747;
}

.btn_primary {
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
}

/* banner style */
.banner_greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner_title {
font-size: 85px;
font-weight: bold;
}

.banner_profile_pic {
  max-width: 580px;
}

/* main style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 150px;
  margin-bottom: 150px;
}

/* about style */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.about_items {
  display: flex;
  justify-content: space-around;
}

.item_description {
  font-size: 600;
}

/* skills section style */
.skills_container {
display: flex;
gap: 24px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}